@import "./variable.scss";

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.copyright {
  background: #eaeaea;
  margin-right: auto;
  margin-left: auto;
  padding-left: 170px;
  padding-right: 15px;
  @include mobile {
    background: #eaeaea;
    padding-left: 0;
  }
  @media (min-width:321px) and (max-width:768px) {
    background: #eaeaea;
    padding-left: 100px;
  }
  .copyright-container {
    width: 900px;
    p {
      padding: 8px 0 8px 20px;
      margin: 0;
      color: gray;
      font-size: 12px;
      @include mobile {
        padding: 8px 0 8px 10px;
      }
    }
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
